@import "_mixins.styl"

font('NewBaskervilleC', normal, 400, '/font/NewBaskervilleC/NewBaskervilleC-Regular.woff2')
font('PTSans', normal, 400, '/font/PTSans/PTSans-Regular.woff2')
font('PTSans', normal, 700, '/font/PTSans/PTSans-Bold.woff2')
