@import "_font.styl"

$accent = #282a2d
$link-color = #242526
$font-size = 16px
$font-color = #ffffff
$ptsans = 'PT Sans', -apple-system, BlinkMacSystemFont, Arial, sans-serif
$newbask = 'NewBaskervilleC', -apple-system, BlinkMacSystemFont, Arial, sans-serif
$transition = 0.3s
